/* Add here all your css styles (customizations) */

.db-gradient {
  background: rgb(137, 210, 217);
  background: linear-gradient(
    180deg,
    rgba(137, 210, 217, 1) 0%,
    rgba(16, 105, 114, 1) 100%
  );
}

.carousel-item.active {
  z-index: 1;
}
.carousel-control-next,
.carousel-control-prev {
  z-index: 2;
}
.carousel-control-prev {
  left: 50%;
}

.red-btn {
  background-color: #e22f28;
}
.light-btn {
  background-color: #e6e7e9;
}
.grey-text {
  color: #414042;
}
.padding-left {
  padding-left: 15%;
}
.text-shadow {
  text-shadow: 1px 1px 1px black;
}

.nav-link.active {
  color: #6bc9c9;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
